
Practica0/A/dba

Practica0/B/dbb

Practica0/A/main2\.c

Practica0/B/main2\.c

Practica0/B/studentDb

Practica0/B/

Practica0/A/

Practica1/main

Practica1/byteOper

Practica3/test

Practica3/amix

Practica3/cmix